body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
  }
  
  #carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 200px;
    text-align: center;
    color: #fff;
    font-size: 24px;
  }
  
  #prev, #next {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: hsl(0, 0%, 0%);
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  
  #prev {
    left: 160px;
  }
  
  #next {
    right: 160px;
  }
  
  #carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  #carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    width: 100%;
    flex: 0 0 auto;
  }

  #prev, #next {
    cursor: pointer;
    font-size: 24px;
  }

.button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #form {
    display: flex;
    justify-content: center;
  }